
.tableContent {
    width: 180px;
    float: left;
    height:61px;
    line-height:60px;
    text-align: center;
    color:#ffffff;
    margin: 0px auto;
    font-family:KaiTi;
    font-size:20px;
    border-bottom:solid 2px #000000;
    border-right:solid 2px #000000;
}
.tableHead
{
    width:182px;
    float:left;
    text-align:center;
}
.tableHeader
{
    width:912px;
    line-height:0px;
    height:44px;
    color:#ffffff;
    background-color:#000000;
    margin:20px auto;
    margin-bottom:0px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    font-family:KaiTi;
    font-size:20px;
}
.tableBody
{
   width:912px;
    line-height:0px;
    height:250px;
    margin:0 auto;
    border-left:solid 2px #000000;
}
.bottom
{
    width :912px;
    height:35px;
    margin:2px auto;
    color:#ffffff;
    background-color:#000000;
    font-family:KaiTi;
    font-size:18px;
    line-height:28px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}
.page
{
    width:70%;
    margin:0 auto;
}