body
{
      margin:0;
      width:100%;
      height:100%;
      background-image:url('../Image/JsCommonMain/Background-01.png');
      background-repeat:no-repeat;
}
.login
{
      width:30%;
      height:25%;
      font-family:SimHei;
      margin-top:15%;
      margin-left:70%;
}
.login_top
{
      width:72%;
      height:30px;
      line-height:30px;
      font-size:20px;
      border-top-right-radius:10px;
      border-top-left-radius:10px;
      text-align:center;
      background-color:white;
      margin-left:1px;
}
.userid
{
     width:100%;
     height:30px;
            
}
 .auto-style1 
{
     width: 15%;
     background-color:white;
}
.auto-style3 
{
     width: 58%;
     background-color:white;
}
