.sign
{
    width:50%;
    height:60px;
    margin:2% auto 2% auto;
}
.tableContent {
    width: 200px;
    float: left;
    height:50px;
    line-height:50px;
    text-align: center;
    color:#e6dfdf;
    margin: 0px auto;
    font-family:KaiTi;
    font-size:20px;
    border-bottom:solid 2px #000000;
    border-right:solid 2px #000000;
}
.tableJobName {
    width: 150px;
    float: left;
    height:50px;
    line-height:50px;
    text-align: center;
    color:#e6dfdf;
    margin: 0px auto;
    font-family:KaiTi;
    font-size:20px;
    border-left:solid 2px #000000;
    border-right:solid 2px #000000 ;
    border-bottom:solid 2px #000000;
}
.tableHead
{
    width:200px;
    float:left;
    text-align:center;
}
.JobName
{
    width:150px;
    float:left;
    text-align:center;
}
.state
{
    width:75px;
    float:left;
    text-align:center;
}
.ts{
    height:50px;
    width:75px;
    float:left;
    line-height:50px;
    text-align: center;
    color:#e6dfdf;
    margin: 0px auto;
    font-family:KaiTi;
    font-size:20px;
    border-bottom:solid 2px #000000;
    border-right:solid 2px #000000;
}
.tableHeader
{
    width:915px;
    line-height:0px;
    height:50px;
    color:#e6dfdf;
    background-color:rgba(12, 12, 12, 0.60);
    margin:10px auto;
    margin-bottom:0px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    font-family:KaiTi;
    font-size:25px;
}
.tableBody
{
   width:915px;
    line-height:0px;
    height:210px;
    margin:0 auto;
}
.bottom
{
    width :915px;
    height:30px;
    line-height:30px;
    margin:80px auto;
    color:#e6dfdf;
    font-family:KaiTi;
    background-color:rgba(12, 12, 12, 0.60);
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}
.page
{
    width:70%;
    margin:0 auto;
}