.sign
{
    width:50%;
    height:60px;
    margin:5% auto 2% auto;
}
.tableContent {
    width: 25%;
    float: left;
    height:50px;
    line-height:20px;
    text-align: center;
    color:#e6dfdf;
    margin: 7px auto;
    font-family:KaiTi;
    font-size:20px;
}
.tableHead
{
    width:25%;
    float:left;
    text-align:center;
}
.tableHeader
{
    width:900px;
    line-height:0px;
    height:50px;
    color:#e6dfdf;
    background-color:rgba(12, 12, 12, 0.60);
    margin:30px auto;
    margin-bottom:0px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    font-family:KaiTi;
    font-size:25px;
}
.tableBody
{
   width:900px;
    line-height:0px;
    height:180px;
    margin:0 auto;
}
.bottom
{
    width :900px;
    height:30px;
    margin:80px auto;
    color:#e6dfdf;
    background-color:rgba(12, 12, 12, 0.60);
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}
.page
{
    width:70%;
    margin:0 auto;
}